# NextAuth / Auth.js Configuration
# Generate a secret: openssl rand -base64 32 or npx auth secret
AUTH_SECRET=your_auth_secret_here

# Base URL aplikasi (Localhost atau Cloudflare Production)
AUTH_URL=http://localhost:3000

# Kredensial SSO TEN Accounts (didapatkan dari https://accounts.ten.my.id/admin/clients)
# Callback URL di IdP:
# Development: http://localhost:3000/api/auth/callback/ten-accounts
# Production : https://ten.my.id/api/auth/callback/ten-accounts
TEN_CLIENT_ID=iam-app
TEN_CLIENT_SECRET=your_ten_client_secret_here
